.card {
  background-color: #f8f8f8;
  .title {
    margin: 0;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    line-height: 1.5rem;
    text-align: center;
    text-wrap: normal;
    word-break: break-word;
  }
  img, iframe, video {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .img-container {
    margin-bottom: 6px;
    .hover-img-container {
      display: flex;
      .img-hover-backdrop {
        position: absolute;
        display: flex;
        transition: ease 500ms;
        opacity: 0;
        width: 100%;
        aspect-ratio: 16/9;
        z-index: 10;
        justify-content: center;
        align-items: center;
        img {
          width: 36px;
          aspect-ratio: 1/1;
        }
        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.5);
        }
      }

    }
  }

  .body {
    padding: 0.5rem 1rem;
    height: 150px;
    overflow: auto;
  }
}
.hover-icon {
  width: 2rem;
}


